{% extends 'base.html.twig' %}
{% block title %}Add subscription{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add subscription</h1>
    </div>
    {{ form_start(subscriptionForm) }}
    {{ form_widget(subscriptionForm) }}

    <button type="submit" class="btn btn-pink">Add</button>
    {{ form_end(subscriptionForm) }}
{% endblock %}
