{% extends 'base.html.twig' %}

{% block title %}Edit book{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit book : {{ book.title }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button name="submit" type="submit" class="btn btn-pink">Save</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
