{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Editer mon profil</h1>

        <a href="{{ path('user_password') }}">
            <button class="btn btn-pink">Modifier mon mot de passe</button>
        </a>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-pink">Enregistrer</button>
        {{ form_end(form) }}

    </div>
{% endblock %}